<div class="container">
  <%= form_for(@event) do |f| %>
      <% if @event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
              <% @event.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :"Start At" %>
        <%= f.datetime_local_field :starts_at, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :"End At" %>
        <%= f.datetime_local_field :ends_at, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :"Image Link" %>
        <%= f.text_field :hero_image_url, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :"Short Link" %>
        <%= f.text_field :extended_html_description, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :"Category" %>
        <%= f.select :category_id, @category.map {|f| [f.name, f.id]}, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :"Venue" %>
        <%= f.text_field :venue_id, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :"Publish" %>
        <%= f.select :publish, options_for_select(['Not Publish','Published'],['Published']) %>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn btn-outline-success my-2 my-sm-0' %>
      </div>
  <% end %>
</div>